.container{
    display: flex;
    align-items: center;
    height: 72px;
    min-height: 72px;
    margin-bottom: 24px;
    background: #0064EB;
    box-shadow: 0 2px 3px #4d4d4d;
}
.logo{
    height: 40px;
    width: 41px;
    margin: 0 30px;
    object-fit: cover;
    object-position: center center;
}
.input{
    display: flex;
    margin-right: 3px;
    max-width: 500px;
    font-size: 14px;
    box-shadow: 0 1px 2px white;
}
.icon{
    color: #808080;
}
.button{
    width: 50px;
    min-width: 50px;
    height: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
    color:white;
    background-color: #4747e8;
    border-radius: 5px;
    box-shadow: 0 0 2px white;
    cursor: pointer;
    visibility: hidden;
}
@media screen and (max-width: 1120px) {
    .button{
        visibility: visible;
    }
}
