.wrapper{
    margin: 0 56px;
    display: flex;
    flex-direction: row;
}

.person_info{
    margin-right: 96px;
}
.repos{
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.name{
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    margin: 15px 0;
}
.login{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #0064EB;
    margin-bottom: 25px;

}

.follow{
    display: flex;
    flex-direction: row;
    font-size: 16px;
}
.icon{
    height: 15px;
    width: 15px;
    margin-right: 5px;
    margin-left: 10px;
}
@media screen and (max-width: 913px) {
    .wrapper{
        flex-direction: column;
        margin: 0 5px;
    }
    .person_info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 25px 0;
    }
}
